<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#增加行" data-toc-modified-id="增加行-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>增加行</a></span></li><li><span><a href="#增加列" data-toc-modified-id="增加列-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>增加列</a></span></li><li><span><a href="#合并" data-toc-modified-id="合并-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>合并</a></span></li><li><span><a href="#修改列名" data-toc-modified-id="修改列名-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>修改列名</a></span></li><li><span><a href="#选取列" data-toc-modified-id="选取列-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>选取列</a></span></li><li><span><a href="#读取-CSV" data-toc-modified-id="读取-CSV-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>读取 CSV</a></span></li><li><span><a href="#遍历" data-toc-modified-id="遍历-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>遍历</a></span></li><li><span><a href="#Apply" data-toc-modified-id="Apply-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Apply</a></span><ul class="toc-item"><li><span><a href="#列元素" data-toc-modified-id="列元素-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>列元素</a></span></li><li><span><a href="#行元素" data-toc-modified-id="行元素-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>行元素</a></span></li><li><span><a href="#列" data-toc-modified-id="列-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>列</a></span></li><li><span><a href="#行" data-toc-modified-id="行-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>行</a></span></li><li><span><a href="#逐个元素处理" data-toc-modified-id="逐个元素处理-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>逐个元素处理</a></span></li></ul></li></ul></div>

## 增加行

方法一：

In [63]:
import pandas as pd
df = pd.DataFrame(columns=['col1', 'col2', 'col3'])
for i in range(5):
    df.loc[i] = [i] * 3
df

  col1 col2 col3
0    0    0    0
1    1    1    1
2    2    2    2
3    3    3    3
4    4    4    4

方法二：

In [65]:
import pandas as pd
df = pd.DataFrame(columns=['col1', 'col2', 'col3'])
for i in range(5):
    df = df.append(pd.Series({'col1': i * 2, 'col2': i * 2, 'col3': [i] * 2}), ignore_index=True)
df

  col1 col2    col3
0    0    0  [0, 0]
1    2    2  [1, 1]
2    4    4  [2, 2]
3    6    6  [3, 3]
4    8    8  [4, 4]

## 增加列

方法一：

In [71]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5, 10), 'col3': range(10,15)})
df.assign(col4=['tangting'] * len(df))

   col1  col2  col3      col4
0     0     5    10  tangting
1     1     6    11  tangting
2     2     7    12  tangting
3     3     8    13  tangting
4     4     9    14  tangting

方法二：

In [79]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5, 10), 'col3': range(10,15)})
df['col4'] = ['jiexiao'] * len(df)
df

   col1  col2  col3     col4
0     0     5    10  jiexiao
1     1     6    11  jiexiao
2     2     7    12  jiexiao
3     3     8    13  jiexiao
4     4     9    14  jiexiao

## 合并

In [81]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5), 'col3': range(5)})
df1 = pd.DataFrame({'col1': range(5,10), 'col2': range(5,10), 'col3': range(5,10)})
pd.concat([df, df1])

   col1  col2  col3
0     0     0     0
1     1     1     1
2     2     2     2
3     3     3     3
4     4     4     4
0     5     5     5
1     6     6     6
2     7     7     7
3     8     8     8
4     9     9     9

## 修改列名

替换原有名称

In [99]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5), 'col3': range(5)})
df.rename(columns={'col1': 'new_col_1', 'col2': 'new_col_2', 'col3': 'new_col_3'})

   new_col_1  new_col_2  new_col_3
0          0          0          0
1          1          1          1
2          2          2          2
3          3          3          3
4          4          4          4

按列序号直接修改，注意 inplace 参数为 pandas-0.21 新增

In [3]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5), 'col3': range(5)})
df.set_axis(labels=['new_col_1', 'new_col_2', 'new_col_3'], axis='columns', inplace=False)

   new_col_1  new_col_2  new_col_3
0          0          0          0
1          1          1          1
2          2          2          2
3          3          3          3
4          4          4          4

## 选取列

In [14]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5), 'col3': range(5)})
df1 = df.loc[:, ['col1', 'col3']]
df1

   col1  col3
0     0     0
1     1     1
2     2     2
3     3     3
4     4     4

可以看出来 loc 函数返回的是一个副本而不是引用

In [17]:
df1.set_axis(labels=['new_col_1', 'new_col_3'], axis='columns', inplace=True)
df1
df

   new_col_1  new_col_3
0          0          0
1          1          1
2          2          2
3          3          3
4          4          4

   col1  col2  col3
0     0     0     0
1     1     1     1
2     2     2     2
3     3     3     3
4     4     4     4

## 读取 CSV

In [18]:
import pandas as pd
BAW_PATH = "/aiml/data/NoS_AW_Script/aw_baw.csv"
CAW_PATH = "/aiml/data/NoS_AW_Script/aw_caw.csv"
df_caw = pd.read_csv(CAW_PATH)
df_baw = pd.read_csv(BAW_PATH)
len(df_caw)
len(df_baw)

32317

6832

## 遍历

In [24]:
import pandas as pd
df = pd.DataFrame({'col1': [str(x) for x in range(5)], 'col2': [str(x) for x in range(5)], 'col3': [str(x) for x in range(5)]})
df
df.apply(lambda x: ' '.join(x))

  col1 col2 col3
0    0    0    0
1    1    1    1
2    2    2    2
3    3    3    3
4    4    4    4

col1    0 1 2 3 4
col2    0 1 2 3 4
col3    0 1 2 3 4
dtype: object

In [21]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5), 'col3': range(5)})
df
for idx,row in df.iterrows():
    print((row['col1'], row['col3']))

   col1  col2  col3
0     0     0     0
1     1     1     1
2     2     2     2
3     3     3     3
4     4     4     4

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)

## Apply

### 列元素

In [37]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5, 10), 'col3': range(10, 15)})
df
df.loc[:, ['col1', 'col2']].apply(lambda x: x * x)

   col1  col2  col3
0     0     5    10
1     1     6    11
2     2     7    12
3     3     8    13
4     4     9    14

   col1  col2
0     0    25
1     1    36
2     4    49
3     9    64
4    16    81

### 行元素

In [39]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5, 10), 'col3': range(10, 15)})
df
df.loc[1:3].apply(lambda x: x * x)

   col1  col2  col3
0     0     5    10
1     1     6    11
2     2     7    12
3     3     8    13
4     4     9    14

   col1  col2  col3
1     1    36   121
2     4    49   144
3     9    64   169

### 列

In [65]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5, 10), 'col3': range(10, 15)})
df
df.apply(lambda x: sum(x))

   col1  col2  col3
0     0     5    10
1     1     6    11
2     2     7    12
3     3     8    13
4     4     9    14

col1    10
col2    35
col3    60
dtype: int64

### 行

In [66]:
import pandas as pd
df = pd.DataFrame({'col1': range(5), 'col2': range(5, 10), 'col3': range(10, 15)})
df
df.apply(lambda x: sum(x), axis=1)

   col1  col2  col3
0     0     5    10
1     1     6    11
2     2     7    12
3     3     8    13
4     4     9    14

0    15
1    18
2    21
3    24
4    27
dtype: int64

### 逐个元素处理

可以理解为 apply 传入的一定是一个 Series，如果需要特殊处理，需要转换为 list 最后再转换回去

In [77]:
import pandas as pd
lst = [str(x) + '\n             ' for x in range(5)]
df = pd.DataFrame({'col1': lst, 'col2': lst, 'col3': lst})
df
df.apply(lambda x:  pd.Series([y.strip() if isinstance(y, str) else y for y in x]))

               col1              col2              col3
0  0\n               0\n               0\n
1  1\n               1\n               1\n
2  2\n               2\n               2\n
3  3\n               3\n               3\n
4  4\n               4\n               4\n

  col1 col2 col3
0    0    0    0
1    1    1    1
2    2    2    2
3    3    3    3
4    4    4    4

In [79]:
import pandas as pd
lst = [str(x) + '\n             ' for x in range(5)]
df = pd.DataFrame({'col1': lst, 'col2': lst, 'col3': lst})
df
df.apply(lambda x: pd.Series((x['col1'], x['col2'])), axis=1)

               col1              col2              col3
0  0\n               0\n               0\n
1  1\n               1\n               1\n
2  2\n               2\n               2\n
3  3\n               3\n               3\n
4  4\n               4\n               4\n

                  0                 1
0  0\n               0\n
1  1\n               1\n
2  2\n               2\n
3  3\n               3\n
4  4\n               4\n

In [96]:
import numpy as np
tmp1 = np.array([[1, 2, 3], [4, 5, 6]])
tmp2 = np.array([1, 2])
tmp2.dot(tmp1) 
len(tmp1)

array([ 9, 12, 15])

2

In [99]:
import json
input_str = json.dumps({"des": "des", "cmd": "cmd"}, ensure_ascii=False)

In [101]:
from cerberus import Validator
validator = Validator()
schema = {'des': {'type': 'string', 'empty': False}, 'cmd': {'type': 'string', 'empty': False}}
validator({"des": "des", "cmd": "cmd"}, schema)

True